* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    animation-name: easein; 
    background-color: #00000012;
   transition:  5.5s ease-in;
}
  nav {
    filter: drop-shadow(200px);
  }
.fas {
    color: blue;
}
.fab {
    color: blue;
}
.logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.me {
    display: flex;
}
.nav {
    display: flex;
    background-color: #ffffffee;
    padding-top: 50px;
    height: 120px;
    width: 100%;
    padding-left: 30px;
    position: fixed;
    gap: 60%;
}
.head {
    font-size: 50px;
    color: blue;
    padding-left: 10px;
}
ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 14px;
    justify-content: space-between;
}
li {
    background-color: rgb(231, 231, 255);
    width: 200px;
    border-radius: 8px;
    height: 50px;
    padding-left: 70px;
    padding-top: 10px;
}
a  {
    color: blue;
    font-size: x-large;
    text-decoration: none;
}
i {
    padding-right: 5px;
}

.btn {
    width:200px;
    padding-left: 0;
    height: 50px;
    background-color: rgba(0, 0, 255, 0.799);;
}
.btn a {
    color: white!important ;
    text-decoration: none;
    padding-left: 40px;
    padding-top: 70px;
    font-weight: 800;
}
.swap {
    width: 800px;
    padding-left: 100px;
    padding-top: 100px;
}
.big {
    font-size: 80px;
    font-weight: 900;
    color: #000;
    font-family: sans-serif;
}
.mid {
    font-size: xx-large;
    color: #000;
    font-family: sans-serif;
    padding-top: 20px;
}
button {
    background-color: rgba(0, 0, 255, 0.799);
    color: #fff;
    margin-top: 20px;
    font-weight: 700;
    width: 250px;
    font-size: larger;
    height: 60px;
    border-radius: 10px;
}
.first {
    display: flex;
    padding-top: 100px;
    padding-left: 200px;
    gap: 10%;
}
.animation {
    width: 600px;
    padding-left: 90px;
    padding-top: 30px;
}
.center {
    display: flex;
    margin-top: 500px;
    margin-left: 200px;
    gap: 10%;
}
.stream {
    width: 900px;
    height: 300px;
    border-radius: 10%;
}
.what {
    font-size: 50px;
    font-weight: 800;
    font-family: sans-serif;
    padding-bottom: 20px;
}
.demo {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 255, 0.799);;
    font-weight: 700;
    color: rgba(0, 0, 255, 0.799);;
}
.ic {
    width: 50px;
    color: blue;
}
.demo:hover {
    background-color: rgba(0, 0, 255, 0.799);
    color: white;
    transition: 1.2s;
}
.answr {
    color: #000;
    font-size: 30px;
}
.bottom {
    background-color: rgba(0, 0, 255, 0.799);
    width: 70%;
    height: 1100px;
    margin-top: 400px;
    margin-left: 330px;
    border-radius: 10px;
    padding: 70px;
}
h3 {
    font-size: 70px;
    color: #fff;
    font-weight: 100;
    text-align: center;
}
.flex-btn {
    display: flex;
    gap:10px;
    margin-top: 20px;
    margin-left: 55px;
}
.fl {
    color: white;
    background-color: rgba(0, 0, 255, 0.751);
    border: 2px solid #fff;
    border-radius: 50px;
    width: 200px;
    height: 100px
}
.fl:active {
    background-color: #fff;
    color: rgba(0, 0, 255, 0.799);
    padding-left: 10px;
}
#auto h2 {
    font-size: 45px;
    color: #fff;
  }
#auto p {
    font-size: 30px;
    margin-top: 15px;
    color: #fff;
  }
  #auto {
    padding-top: 100px;
    padding-left: 10px;
    margin-left: 50px;
  }

.learn {
    background-color: #fff;
    width: 200px;
    height: 50px;
    color: rgba(0, 0, 255, 0.751);
    margin-left: 50px;
}
.learn:hover {
    background-color: black;
    color: white;
    transition: 1.2s;
}
.twitter {
    background-color:  #00aced;
    width: 650px;
    text-align: left;
    padding-left: 40px;
    height: 350px;
    border-radius: 30px;
}
.twitter h2 {
    padding-bottom: 180px;
    color: #fff;
}
b {
    color: #fff;
    font-weight: 700;
}
.twitter p {
    color: #ffffff82;
}
.discord {
    background-color:  #7289DA;
    width: 650px;
    height: 350px;
    text-align: left;
    padding-left: 40px;
    color: rgb(128, 128, 128);
    border-radius: 30px;
}
.discord h2 {
    padding-bottom: 180px;
    color: #fff;
}
.discord p {
    color: #ffffff82;
}
.foot {
    display: flex;
    gap: 30px;
    margin-left: 430px;
    margin-top: 100px;
}
.discord:hover {
    
    
}
footer {
    width: 50px;
    border-radius: 50%;
    margin-top: 100px;
    text-align: center;
    padding-bottom: 100px;
}
.menubtn {
    display: none;
}
.gris {
    display: none;
}
.sideNav {
    display: none;
}

@media (max-width:440px) {
    body {
        max-width: 414px;
    }
    .grid {
        display: grid;
    }
    video {
        padding-left: 20%;
    }
    .animation {
        padding-left: 20%;
    }
    .first {
        display: grid;
        margin-top: 90px;
        text-align: center;
    }
    .center {
        display:grid;
        text-align: center;
    }
    .foot {
        display: grid;
        text-align: center;
    }
    .menu {
        display: none;
    }
    .menubtn {
        display: flex;
        padding-left: 900px;
        font-size: xx-large;
        color: #000;
    }
    .sideNav {
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #000;
        overflow-x: hidden;
        transition: 0.3s ease-in;
        padding-top: 60px;
        display: none;
    }
    .sideNav {
        display: block !important;
    }
    .sideNav a {
        padding: 8px 8px 8px 40px;
        display: block;
        font-size: 25px;
        color: white;
        transition: 0.3s;
        text-decoration: none;
    }
    .sideNav .close {
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 20px;
        margin-left: 50px;
    }
    footer {
        padding-left: 630px;
    }
}